Version 1/Node-Red/clipboard.txt
[{"id":"dbec90b2.58c798","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c53ae118.a5592","type":"tcp in","z":"dbec90b2.58c798","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":250,"y":80,"wires":[["a9287fb7.6a2a28"]]},{"id":"a9287fb7.6a2a28","type":"function","z":"dbec90b2.58c798","name":"Clean message","func":"//Cleans the message\nvar clean_msg = msg.payload;\nclean_msg = \"{\" + clean_msg.split(\"{\")[1];\nclean_msg = clean_msg.split(\"}\")[0] + \"}\";\nmsg.payload = clean_msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["a3417c94.5096f8","7896f06b.1601e8"]]},{"id":"906d5f1a.2019e","type":"http request","z":"dbec90b2.58c798","name":"","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/mote_encountered/with/key/fdcZ4xPZOYEGHv-dodVofpwbQQ3CNIRwNHwH4L5odHK","tls":"","x":270,"y":260,"wires":[[]]},{"id":"a3417c94.5096f8","type":"function","z":"dbec90b2.58c798","name":"Prepare ifft request","func":"//Prepares the request for IFTT\n\nmsg.event = \"mote_encountered\";\nvar new_payload = {\"value1\": JSON.parse(msg.payload).id};\nmsg.payload = new_payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["906d5f1a.2019e","83973ddd.ab64c8"]]},{"id":"83973ddd.ab64c8","type":"debug","z":"dbec90b2.58c798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":200,"wires":[]},{"id":"7896f06b.1601e8","type":"debug","z":"dbec90b2.58c798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":140,"wires":[]}]